astroid==3.3.9
atomicwrites==1.4.1
attrs==25.3.0
backcall==0.2.0
certifi==2025.1.31
charset-normalizer==3.4.1
codecov==2.1.13
colorama==0.4.6
coverage==7.6.12
decorator==5.2.1
flake8==7.1.2
idna==3.10
iniconfig==2.0.0
ipython==9.0.2
isort==6.0.1
jedi==0.19.2
lazy-object-proxy==1.10.0
matplotlib-inline==0.1.7
mccabe==0.7.0
packaging==24.2
parso==0.8.4
pickleshare==0.7.5
platformdirs==4.3.6
pluggy==1.5.0
prompt-toolkit==3.0.50
py==1.11.0
pycodestyle==2.12.1
pyflakes==3.2.0
Pygments==2.19.1
pylint==3.3.5
pyparsing==3.2.1
pytest==8.3.5
pytest-cov==6.0.0
requests==2.32.3
toml==0.10.2
traitlets==5.14.3
urllib3==2.3.0
wcwidth==0.2.13
wrapt==1.17.2
zipp==3.21.0
