astroid==4.1.1
atomicwrites==1.4.1
attrs==25.4.0
backcall==0.2.0
certifi==2026.2.25
charset-normalizer==3.4.5
codecov==2.1.13
colorama==0.4.6
coverage==7.13.4
decorator==5.2.1
flake8==7.3.0
idna==3.11
iniconfig==2.3.0
ipython==9.11.0
isort==8.0.1
jedi==0.19.2
lazy-object-proxy==1.12.0
matplotlib-inline==0.2.1
mccabe==0.7.0
packaging==26.0
parso==0.8.6
pickleshare==0.7.5
platformdirs==4.9.4
pluggy==1.6.0
prompt-toolkit==3.0.52
py==1.11.0
pycodestyle==2.14.0
pyflakes==3.4.0
Pygments==2.19.2
pylint==4.0.5
pyparsing==3.3.2
pytest==9.0.2
pytest-cov==7.0.0
requests==2.32.5
toml==0.10.2
traitlets==5.14.3
urllib3==2.6.3
wcwidth==0.2.5
wrapt==1.12.1
zipp==3.5.0
